{
    "env": {
      "browser": true,
      "es2021": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended" // Enable Prettier integration
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2021,
      "sourceType": "module"
    },
    "plugins": ["react", "@typescript-eslint", "prettier"],
    "rules": {
      "prettier/prettier": "error", // Treat Prettier issues as ESLint errors
      "react/react-in-jsx-scope": "off", // Example: Adjust rules based on your needs
      "@typescript-eslint/no-unused-vars": "warn"
    }
  }
  